<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="keyBinds" type="MultiInstanceManager.Config.KeyBindsSection, MultiInstanceManager" />
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin;plugins\ref;plugins"/>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- incase you need to override the executable filename, enter it here -->
		<add key="forceExitClients" value="true" />
		<!-- dictates if client should be killed when "refreshing" or "adding" accounts, required if doing several in a row -->
		<add key="saveCredentials" value="true" />
		<!-- save game credentials to local computer windows credential store. -->
	</appSettings>
</configuration>