<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="keyBinds" type="MultiInstanceManager.Config.KeyBindsSection, MultiInstanceManager" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="cmdArgs" value="" />
	</appSettings>
	<keyBinds>
		<windowKeyBinds>
			<add key="numpad0" ascii="0" enabled="true"/> <!-- depending on numlock, but numlock on its 0 -->
			<add key="numpad1" ascii="1" enabled="false"/> <!-- depending on numlock, but numlock on its 1 -->
			<add key="numpad2" ascii="2" enabled="true"/> <!-- depending on numlock, but numlock on its 2 -->
			<add key="numpad3" ascii="99" enabled="false"/>
			<add key="numpad4" ascii="100" enabled="false"/>
			<add key="numpad5" ascii="101" enabled="false"/>
		</windowKeyBinds>
	</keyBinds>

</configuration>