<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="keyBinds" type="MultiInstanceManager.Config.KeyBindsSection, MultiInstanceManager" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="cmdArgs" value="" />
		<add key="modifyWindowTitles" value="true" />	<!-- turn to false if you do not want to modify the window titles of the client -->
		<add key="gameExecutableName" value="D2R.exe"/>	<!-- incase you need to override the executable filename, enter it here -->
		<add key="forceExitClients" value="true"/>		<!-- dictates if client should be killed when "refreshing" or "adding" accounts, required if doing several in a row -->
	</appSettings>
	<keyBinds>
		<windowKeyBinds>
			<add key="numpad0" ascii="0" enabled="true"/>	<!-- depending on numlock, but numlock on its 0 -->
			<add key="numpad1" ascii="1" enabled="false"/>	<!-- depending on numlock, but numlock on its 1 -->
			<add key="numpad2" ascii="2" enabled="true"/>	<!-- depending on numlock, but numlock on its 2 -->
			<add key="numpad3" ascii="3" enabled="false"/>
			<add key="numpad4" ascii="4" enabled="false"/>
			<add key="numpad5" ascii="5" enabled="false"/>
		</windowKeyBinds>
	</keyBinds>

</configuration>